ul li{
	list-style: none;
}
img{
	max-height: 100%;
}
body {
  	background: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.out {
	min-width: 320px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.wrapper {
	max-width: 1180px;
	margin: auto;
	padding: 0 20px;
}
.content {
	flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
table {
    width: 100%;
    background-color: #f0f0f0;
    border: 3px solid #34b8c0;
    margin-bottom: 15px;
	line-height: 1.42857143;
}

table td, table th {
    border: 1px solid #cccccc;
    padding: 2px
}

table th {
    color: #6f51c7;
}
.slick-prev{
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    padding: 0;
    border: 0;
    background-image: url('../img/svg/slick-prev.svg');
    width: 42px;
    height: 42px;
    background-color: transparent;
}
.slick-next{
    position: absolute;
    right: -65px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    padding: 0;
    border: 0;
    background-image: url('../img/svg/slick-next.svg');
    width: 42px;
    height: 42px;
    background-color: transparent;
}
#mymodal{
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,.8);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    display: none;
    z-index: 500;
    border-radius: 8px;
	span{
		color: #FFF;
		font-size: 30px;
		text-align: center;
		display: block;
		display: flex;
		align-items: center;
		height: 100%;
		font-family: "PT Sans";
		font-weight: 400;
	}
}