.static-inputs,
.dinamic-inputs {
    input[type="text"] {
        margin-bottom: 15px;
        width: 100%;
        max-width: 200px;
        display: block;
    }
}

.dinamic-inputs {
    input[type="text"] {
        margin-bottom: 0;
    }
    &__el {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__remove {
        margin-left: 10px;
        display: block;
        cursor: pointer;
        &:hover {
            i {
                &:before {
                    color: #444444;
                }
            }
        }
    }
}

.add-field {
    margin-bottom: 30px;
}
