/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$gray-arrow-bottom-name: 'gray-arrow-bottom';
$gray-arrow-bottom-x: 0px;
$gray-arrow-bottom-y: 0px;
$gray-arrow-bottom-offset-x: 0px;
$gray-arrow-bottom-offset-y: 0px;
$gray-arrow-bottom-width: 13px;
$gray-arrow-bottom-height: 8px;
$gray-arrow-bottom-total-width: 242px;
$gray-arrow-bottom-total-height: 294px;
$gray-arrow-bottom-image: '../img/sprite.png';
$gray-arrow-bottom: (0px, 0px, 0px, 0px, 13px, 8px, 242px, 294px, '../img/sprite.png', 'gray-arrow-bottom', );
$head-logo-name: 'head-logo';
$head-logo-x: 214px;
$head-logo-y: 249px;
$head-logo-offset-x: -214px;
$head-logo-offset-y: -249px;
$head-logo-width: 28px;
$head-logo-height: 45px;
$head-logo-total-width: 242px;
$head-logo-total-height: 294px;
$head-logo-image: '../img/sprite.png';
$head-logo: (214px, 249px, -214px, -249px, 28px, 45px, 242px, 294px, '../img/sprite.png', 'head-logo', );
$head-tel-mobile-name: 'head-tel-mobile';
$head-tel-mobile-x: 149px;
$head-tel-mobile-y: 158px;
$head-tel-mobile-offset-x: -149px;
$head-tel-mobile-offset-y: -158px;
$head-tel-mobile-width: 19px;
$head-tel-mobile-height: 30px;
$head-tel-mobile-total-width: 242px;
$head-tel-mobile-total-height: 294px;
$head-tel-mobile-image: '../img/sprite.png';
$head-tel-mobile: (149px, 158px, -149px, -158px, 19px, 30px, 242px, 294px, '../img/sprite.png', 'head-tel-mobile', );
$head-tel-name: 'head-tel';
$head-tel-x: 178px;
$head-tel-y: 198px;
$head-tel-offset-x: -178px;
$head-tel-offset-y: -198px;
$head-tel-width: 26px;
$head-tel-height: 41px;
$head-tel-total-width: 242px;
$head-tel-total-height: 294px;
$head-tel-image: '../img/sprite.png';
$head-tel: (178px, 198px, -178px, -198px, 26px, 41px, 242px, 294px, '../img/sprite.png', 'head-tel', );
$kotel-icon-hover-name: 'kotel-icon-hover';
$kotel-icon-hover-x: 83px;
$kotel-icon-hover-y: 88px;
$kotel-icon-hover-offset-x: -83px;
$kotel-icon-hover-offset-y: -88px;
$kotel-icon-hover-width: 23px;
$kotel-icon-hover-height: 25px;
$kotel-icon-hover-total-width: 242px;
$kotel-icon-hover-total-height: 294px;
$kotel-icon-hover-image: '../img/sprite.png';
$kotel-icon-hover: (83px, 88px, -83px, -88px, 23px, 25px, 242px, 294px, '../img/sprite.png', 'kotel-icon-hover', );
$kotel-icon-name: 'kotel-icon';
$kotel-icon-x: 116px;
$kotel-icon-y: 123px;
$kotel-icon-offset-x: -116px;
$kotel-icon-offset-y: -123px;
$kotel-icon-width: 23px;
$kotel-icon-height: 25px;
$kotel-icon-total-width: 242px;
$kotel-icon-total-height: 294px;
$kotel-icon-image: '../img/sprite.png';
$kotel-icon: (116px, 123px, -116px, -123px, 23px, 25px, 242px, 294px, '../img/sprite.png', 'kotel-icon', );
$wather-icon-hover-name: 'wather-icon-hover';
$wather-icon-hover-x: 23px;
$wather-icon-hover-y: 18px;
$wather-icon-hover-offset-x: -23px;
$wather-icon-hover-offset-y: -18px;
$wather-icon-hover-width: 20px;
$wather-icon-hover-height: 25px;
$wather-icon-hover-total-width: 242px;
$wather-icon-hover-total-height: 294px;
$wather-icon-hover-image: '../img/sprite.png';
$wather-icon-hover: (23px, 18px, -23px, -18px, 20px, 25px, 242px, 294px, '../img/sprite.png', 'wather-icon-hover', );
$wather-icon-name: 'wather-icon';
$wather-icon-x: 53px;
$wather-icon-y: 53px;
$wather-icon-offset-x: -53px;
$wather-icon-offset-y: -53px;
$wather-icon-width: 20px;
$wather-icon-height: 25px;
$wather-icon-total-width: 242px;
$wather-icon-total-height: 294px;
$wather-icon-image: '../img/sprite.png';
$wather-icon: (53px, 53px, -53px, -53px, 20px, 25px, 242px, 294px, '../img/sprite.png', 'wather-icon', );
$spritesheet-width: 242px;
$spritesheet-height: 294px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($gray-arrow-bottom, $head-logo, $head-tel-mobile, $head-tel, $kotel-icon-hover, $kotel-icon, $wather-icon-hover, $wather-icon, );
$spritesheet: (242px, 294px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
