<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
	<title>Index</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css" />		
</head>
<body class="{% block bodyClass %}{% endblock %}">

	<div class="out">
		<!-- begin header -->
		{% include "layouts/header.html" %}
		<!-- end header -->
		<!-- begin content -->
		{% block content %} {% endblock %}
		<!-- end content -->
		<!-- begin footer -->
		{% include "layouts/footer.html" %}
		<!-- end footer -->	
	</div>
	{% include "layouts/popup.html" %}

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/select2.full.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>